*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.success-page{
  min-height:100vh;
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  padding:20px;
  background:linear-gradient(180deg,#b7caee 0%,#eef2f8 100%);
}

.success-card{
  width:100%;
  max-width:470px;
  background:rgba(255,255,255,.4);
  backdrop-filter:blur(15px);
  border-radius:20px;
  padding:40px;
  text-align:center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
  animation:showCard .5s ease;
}

.success-icon{
  width:85px;
  height:85px;
  margin:auto;
  margin-bottom:25px;
  border-radius:50%;
  border:3px solid #35b86d;
  display:flex;
  justify-content:center;
  align-items:center;
  color:#35b86d;
  font-size:34px;
}

.success-card h1{
  color:#2b3d60;
  font-size:2rem;
  margin-bottom:15px;
}

.success-card p{
  color:#66748f;
  line-height:1.8;
  font-size:.95rem;
}

.success-message{
  margin-top:20px;
  margin-bottom:25px;
  background:#e8fff0;
  color:#17804a;
  padding:12px;
  border-radius:8px;
  font-size:14px;
}

.login-btn{
  width:100%;
  height:50px;
  border:none;
  border-radius:8px;
  background:#03286c;
  color:white;
  font-size:15px;
  font-weight:600;
  cursor:pointer;
  transition:.3s;
  box-shadow: 0 10px 40px rgb(168, 167, 167);
}

.login-btn:hover{
  box-shadow: none;
  
}

.login-btn:disabled{
  opacity:.8;
  cursor:not-allowed;
}

.spinner{
  width:22px;
  height:22px;
  border:3px solid rgba(255,255,255,.3);
  border-top:3px solid white;
  border-radius:50%;
  display:inline-block;
  animation:spin .8s linear infinite;
}

@keyframes spin{
  100%{
    transform:rotate(360deg);
  }
}

@keyframes showCard{
  from{
    opacity:0;
    transform:translateY(40px);
  }
  to{
    opacity:1;
    transform:translateY(0);
  }
}


@media (min-width:1600px){

  .success-card{
    max-width:600px;
    padding:60px;
  }

  .success-icon{
    width:110px;
    height:110px;
    font-size:45px;
  }

  .success-card h1{
    font-size:2.8rem;
  }

  .success-card p{
    font-size:1.1rem;
  }

  .login-btn{
    height:60px;
    font-size:18px;
  }
}

@media (max-width:1024px){

  .success-card{
    max-width:450px;
  }
}

@media (max-width:768px){

  .success-card{
    max-width:90%;
    padding:30px;
  }

  .success-card h1{
    font-size:1.7rem;
  }

  .success-icon{
    width:70px;
    height:70px;
    font-size:28px;
  }
}

@media (max-width:480px){

  .success-card{
    padding:25px;
  }

  .success-card h1{
    font-size:1.35rem;
  }

  .success-card p{
    font-size:.85rem;
  }

  .login-btn{
    height:46px;
    font-size:14px;
  }
}

@media (max-width:320px){

  .success-card{
    padding:18px;
  }

  .success-card h1{
    font-size:1.1rem;
  }

  .success-card p{
    font-size:.8rem;
  }
}